adabound
addict
alabaster
albumentations
babel
chumpy
compress-pickle
configparser
cython
deepspeech-gpu
docker-pycreds
docutils
dominate
easydict
face-alignment
facenet-pytorch
flatbuffers
freetype-py
gdown
gitdb
gitpython
google-pasta
h5py
hickle
hydra-core
imagesize
imgaug
importlib-resources
insightface
kaggle
keras-preprocessing
librosa
lightning-bolts
mediapipe
memory-profiler
mmcv-full
munch
numpy
omegaconf
onnx
onnxruntime-gpu
opencv-python
opencv-python-headless
opt-einsum
pathtools
pillow
plotly
prettytable
protobuf
psutil
pyasn1-modules
python-speech-features
pytorch-lightning
pyzmq
scikit-sound
scipy
sentry-sdk
setuptools
shapely
smmap
subprocess32
tb-nightly
tensorboard-data-server
timm
torchfile
torchgeometry
torchmetrics
trimesh
wandb
watchdog
wrapt
youtube-dl

